<a href="https://colab.research.google.com/github/prunojumah/Last_IP/blob/master/Further_Analysis_IP_Week4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importing panda and numpy libraries

import pandas as pd
import numpy as np

#loading the csv file on python by first assigning it to a variable
Autolib = '/content/Autolib_dataset (2).csv'

df = pd.read_csv(Autolib)

#Resizing and cleaning data to remain with what is relevant to our research
df.drop(['Displayed comment','Scheduled at','Geo point','ID','Address'], axis=1, inplace=True)

#Capitalizing the column names to enhance uniformity
df.columns = df.columns.str.upper().str.strip().str.replace(' ','_').str.replace('.','')
df.columns

Index(['CARS', 'BLUECAR_COUNTER', 'UTILIB_COUNTER', 'UTILIB_14_COUNTER',
       'CHARGE_SLOTS', 'CHARGING_STATUS', 'CITY', 'KIND', 'POSTAL_CODE',
       'PUBLIC_NAME', 'RENTAL_STATUS', 'SLOTS', 'STATION_TYPE', 'STATUS',
       'SUBSCRIPTION_STATUS', 'YEAR', 'MONTH', 'DAY', 'HOUR', 'MINUTE'],
      dtype='object')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   CARS                 5000 non-null   int64
 1   BLUECAR_COUNTER      5000 non-null   int64
 2   UTILIB_COUNTER       5000 non-null   int64
 3   UTILIB_14_COUNTER    5000 non-null   int64
 4   CHARGE_SLOTS         5000 non-null   int64
 5   CHARGING_STATUS      5000 non-null   object
 6   CITY                 5000 non-null   object
 7   KIND                 5000 non-null   object
 8   POSTAL_CODE          5000 non-null   int64
 9   PUBLIC_NAME          5000 non-null   object
 10  RENTAL_STATUS        5000 non-null   object
 11  SLOTS                5000 non-null   int64
 12  STATION_TYPE         5000 non-null   object
 13  STATUS               5000 non-null   object
 14  SUBSCRIPTION_STATUS  5000 non-null   object
 15  YEAR                 5000 non-null   int64
 16  MONTH                5000 non-null   int64
 17  DAY                  5000 non-null   int64
 18  HOUR                 5000 non-null   int64
 19  MINUTE               5000 non-null   int64
dtypes: int64(12), object(8)
memory usage: 781.4+ KB

In [5]:
#Creating a column to determine how many shared electric cars (BlueCars) were given out or brought back

df['BLUECARS'] = df.BLUECAR_COUNTER.diff()

#Picking out unique numbers to determine the highest number of cars picked throughout the dataset

df.BLUECARS.unique()
#Determining the City that is the most popular for picking up Blue cars overall

Time2=df[(df.RENTAL_STATUS=='operational')&(df.BLUECARS)].groupby('CITY')['CITY'].count().sort_values(ascending=False)
Time2.head(20)

CITY
Paris                   2157
Nanterre                 110
Issy-les-Moulineaux       82
Rueil-Malmaison           73
CrÃ©teil                  71
Montreuil                 58
AsniÃ¨res-sur-Seine       56
Drancy                    54
Colombes                  53
Boulogne-Billancourt      52
Suresnes                  50
Clamart                   39
Saint-Ouen                37
Gennevilliers             34
Levallois-Perret          31
Fontenay-aux-Roses        30
Villejuif                 30
Alfortville               28
SÃ¨vres                   28
Malakoff                  27
Name: CITY, dtype: int64

In [6]:
#From the analysis obtained above, Paris is the most popular city.

In [7]:
#Determining the postal code that is the most popular for picking up Blue cars overall
Time2=df[(df.RENTAL_STATUS=='operational')&(df.BLUECARS)].groupby('POSTAL_CODE')['POSTAL_CODE'].count().sort_values(ascending=False)
Time2.head(20)

POSTAL_CODE
75015    211
75017    187
75016    180
75013    137
75020    136
75011    136
75019    132
75008    128
75012    128
75014    110
92000    110
75018     99
75007     88
75010     86
92130     82
75009     73
92500     73
94000     71
75005     70
75006     59
Name: POSTAL_CODE, dtype: int64